.App {
  text-align: center;
  padding: 5px;
  
}

.header {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  border-bottom: 2px solid #f0f0f5;
}

.headerContainer{
  border-top: #00ace6 dashed 5px;
  border-left: #00ace6 dashed 5px;
  border-right: #00ace6 dashed 5px;
}

.container{
  padding: 30px;
  border-bottom: #00ace6 dashed 5px;
  border-left: #00ace6 dashed 5px;
  border-right: #00ace6 dashed 5px;
  background: #EDEDED;
}

.name {
  padding: 40px;
  grid-column: 30%;
  font-family: 'Barlow', sans-serif;
  font-family: 'Leckerli One', cursive;
  font-size: 40px;
  color: #00ace6;
}

.nav {
  padding: 40px;
  color: black;
  grid-column: 0%;
}

.nav .navItem {
  padding: 25px;/
  font-size: 25px;
  color: black;
  text-decoration: none;
}

.nav .navItem:hover{
  background-color: rgb(224,224,224);
  color: white;
  transition: .5s background-color;
  border-radius: 20px;
  padding: 15px;
}

.search{
  padding: 15px;
  grid-column: 30%;
  padding-left: 40px
}

.searchBox{ 
  width: 100%;
  height: 70px;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 25px;
  padding:8px 15px;
  background: rgb(240,240,240);
  border: rgb(240,240,240) solid 0px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #00ace6;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    width: 75%;
}

.dropdown {
    grid-column: 30%;
    padding: 25px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5px;
    border-radius: 20px
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 30px;
    border-radius: 40px;
    font-size: 20px
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #00ace6;
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #0086b3;

}

/*IMAGES*/


.flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  justify-content: justify;
}

.item {
  background: white;
  padding: 0px;
  position: relative;
  margin: 5%;
  max-width: auto;
  border-radius: 40px;
}

.item:hover .image-overlay {
  height: 100%;
  opacity: .6;
  cursor: pointer;
  -webkit-box-shadow: 1px 0px 183px -15px rgba(0,172,230,1);
  -moz-box-shadow: 1px 0px 183px -15px rgba(0,172,230,1);
  box-shadow: 1px 0px 183px -15px rgba(0,172,230,1);
}

.item:hover .thumb {
  width: 100%;
  
}

.thumb {
  display: block;
  width: 100%;
  max-height: 400px;
  transition: .5s ease;
  border-radius: 40px
}

.imageText{
  color: #00ace6;
  border: white solid 0px;
  padding: 10px;
  font-size: 25px;
  margin: 5px;
  line-height: 150%;
  font-weight: bold;
  border-radius: 15px;
}

.imageTextSmall{
  border: white solid 0px;
  padding: 10px;
  font-size: 15px;
  margin: 5px;
  line-height: 150%;
  font-weight: bold;
  border-radius: 15px;
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0s;
  background-color: black;
  border-radius: 40px;
}

.text {
  white-space: nowrap;
  color: grey;
  width: 75%;
  /*max-height: 100px;*/
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.modal{
  border: #00ace6 1px solid;
}

.modalButton{
  display: box;
  height: 100%;
  padding: 2em;
  color:lightgrey;
}

.modalPic{
  border: 3px black solid;
  transform: scale(1);
  max-height: 1000px;
  width: 100%;
  border-radius: 40px;
}

.textModal{
  font-size: 25px
}

/*COMMENTS*/

.commentBox{
  color: black;
  width: 100%;
  border-radius: 40px;
  padding: 30px;
  background: rgb(240,240,240);
}
.commentList{
  padding: 1px;
}

.comment{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border: rgb(240,240,240) solid 3px;
  padding: 10px;
  width: 100%;
  height: 140px;
  background: white;
  border-radius: 40px;
}
.commentAuthor{
  padding: 5px;
  grid-column: 1;
  padding: 20px;
  font-size: 20px;
  color:#00ace6;
}

.commentContent{
  font-size: 25px;
  background: white;
  padding: 20px;
  grid-column: 2/7;
}

.commentForm{
  padding: 5px;
  border-radius: 40px;
}

.submitButton{
  background-color: #00ace6; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 40px;
}

.buttonBackground{
  display: block;
  padding: 10px;
}

.nameForm{
  width: 100%;
  height: 70px;
  border-radius: 40px 40px 0px 0px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 25px;
  padding:5px 15px;
  background: rgb(white);
  border: rgb(240,240,240) solid 3px;
}

.textForm{
  width: 100%;
  height: 300px;
  border-radius: 0px 0px 40px 40px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 25px;
  padding:8px 15px;
  background: rgb(white);
  border: rgb(240,240,240) solid 3px;
}

.aboutPage{
  padding: 10%;
  padding-left: 30%;
  padding-right: 30% ;
}

.title {
  font-size: 80px;
  padding: 50px;
  font-weight: bold
}

.content {
   font-size: 40px;
   padding: 50px;
}

.picsty {
  padding: 15px;
  font-family: 'Barlow', sans-serif;
  font-family: 'Leckerli One', cursive;
  font-size: 50px;
  color: #00ace6;
  text-decoration: none;
}

.button {
  background: #00ace6;
  border-radius: 40px;
  padding: 30px;
  font-size: 40px;
  
}

.button:hover {
  cursor: pointer;
}


#sticky {
  width:100%;
  height: 50px;
  padding:20px;
  background:white;
  color:#00ace6;
  font-weight:bold;
  font-size:18px;
  text-align:center;  
  bottom:0;         
  left:0;    

}

.errorPage{
  font-size: 40px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  padding-top: 10%;
}
