.App {
  text-align: center;
  padding: 5px;
  
}

.header {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: white;
  border-bottom: 2px solid #f0f0f5;
}

.headerContainer{
  border-top: red dashed 5px;
  border-left: red dashed 5px;
  border-right: red dashed 5px;
  border-bottom: red dashed 5px;
}

.container{
  padding: 15px;
  border-bottom: red dashed 5px;
  border-left: red dashed 5px;
  border-right: red dashed 5px;
  background: #EDEDED;
}

.name {
 /* display: block;*/
  /*border: red solid 1px;*/
  padding: 40px;
  /*width: 60px;*/
 /* border-radius: 50%;*/
  /*background-color: red;*/
  /*color: black;*/
  grid-column: 1/3;
  font-family: 'Barlow', sans-serif;
  font-family: 'Leckerli One', cursive;
  font-size: 40px;
  color: red;
  /*height: 40px;*/
  /*border: blue solid;*/
}

.nav {
  /*border: blue solid;*/
  padding: 40px;
  /*background-color: pink;*/
  color: black;
  grid-column: 12/14;
  /*height: 40px;*/
  /*font-size: 40px;*/
}

.nav .navItem {

  padding: 25px;
 /* padding-bottom: 10px;*/
/*  border: blue solid 1px;*/
  /*font-family: 'Archivo Narrow', sans-serif;*/
  font-size: 25px;
  color: black;
  /*line-height: 100%;*/
  text-decoration: none;
  
}

.nav .navItem:hover{
  background-color: rgb(224,224,224);
  color: white;
  transition: .5s background-color;
  border-radius: 20px;
  padding: 15px;
}

.search{
  padding: 15px;
  grid-column: 4/10;
  padding-left: 40px
  /*border: #c5d5cb solid 10px;*/
}

.searchBox{ 
  /*border: 2px solid darkgrey;*/
  width: 100%;
  height: 70px;
  /*padding: 20px;*/
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 25px;
  padding:8px 15px;
  background: rgb(240,240,240);
  border: rgb(240,240,240) solid 0px;
  /*border:0px solid #dbdbdb;*/
}

/* Dropdown Button */
.dropbtn {
    background-color: #FF0000;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    width: 75%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    grid-column: 10/12;
    padding: 25px;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5px;
    border-radius: 20px
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
    padding: 30px;
    border-radius: 40px;
    font-size: 20px
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: red;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #b20000;
    /*border-radius: 40px;*/

}


/*.List{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 100px;
  grid-column-gap: 100px;
  /*grid-auto-rows: 150px;*/


/*IMAGES*/

.flex-container {
  display: grid;
  /*flex-wrap: wrap;*/
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /*flex-direction: row | row-reverse | column | column-reverse;*/
  align-items: start;
  flex-grow: 1;
  justify-content: justify;
}

.item {
  background: white;
  padding: 1px;
  position: relative;
  /*width: 20%;*/
  margin: 10%;
  /*margin-bottom: 10px;*/
  max-height: auto;
  height: 80%;
  /*flex-grow: 1;*/
  justify-content: justify;
  border-radius: 40px;
}

.itemBackground {
  background: white;
  border-radius: 40px;
}

.item:hover .overlay {
  bottom: 0;
  max-height: 100%;
}

.item:hover .image-overlay {
  height: 100%;
  opacity: .8;
  cursor: pointer;
  /*box-shadow: 5px 10px #888888;*/
}

.item:hover .thumb {
  width: 100%;
  
}

.thumb {
  display: block;
  width: 100%;
  max-height: 400px;
  transition: .5s ease;
  border-radius: 40px 40px 0px 0px;
}

.imageText{
  /*font-family: 'Barlow', sans-serif;*/
  background: white;
  border: white solid 0px;
  padding: 10px;
  font-size: 25px;
  margin: 5px;
  line-height: 150%;
  font-weight: bold;
  border-radius: 40px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: darkgrey;
  opacity: 1;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  border-radius: 40px;
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0s;
  background-color: black;
  border-radius: 40px;
}


.text {
  white-space: nowrap;
  color: grey;
  font-size: 25px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*.text a {
  color: #00c8c8;
  text-decoration: none;
} useful for having a link in the overlay */




.modalButton{
  display: box;
  /*border: 3px red solid;*/
  height: 100%;
  padding: 4em;
  padding-top: 12em;
  color:lightgrey;
}

.modalPic{
  border: 3px black solid;
  transform: scale(1);
  max-height: 1000px;
  width: 100%;
  border-radius: 40px;
}

/*Image Details*/

.imageBackground{
  padding-top: 100px;
  padding-left: 35%;
  padding-right: 35%;
  padding-bottom: 200px;
  background: #EDEDED;;
}

.imageDetails{
  background: white;
  border: 5px purple solid;
  padding: 20px;
}

.detailImage{
  max-height: 1000px;
  width: 100%;
}

/*COMMENTS*/

.commentBox{
  color: black;
  width: 100%;
  border-radius: 40px;
  padding: 30px;
  background: rgb(240,240,240);
}
.commentList{
  padding: 1px;
}

.comment{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /*grid-template-rows: 1fr;*/
  border: rgb(240,240,240) solid 3px;
  padding: 10px;
  width: 100%;
  height: 140px;
  background: white;
  border-radius: 40px;
  /*background-color: white;*/
}
.commentAuthor{
  /*border: 1px solid blue;*/
  padding: 5px;
  grid-column: 1;
  /*border-radius: 40px;*/
  /*background: white;*/
  padding: 20px;
  font-size: 20px;
  color:red;
}

.commentContent{
  /*border: 1px dashed blue;*/
  font-size: 25px;
  background: white;
  padding: 20px;
  grid-column: 2/7;
 /* grid-row:1/3;*/
  /*border-radius: 40px;*/
}

.commentForm{
/*  border: 1px solid yellow;*/
  padding: 0px;
  border-radius: 40px;
}

.nameForm{
  width: 100%;
  height: 70px;
  /*padding: 20px;*/
  border-radius: 40px 40px 0px 0px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 25px;
  padding:5px 15px;
  background: rgb(white);
  border: rgb(240,240,240) solid 3px;
}

.textForm{
  width: 100%;
  height: 300px;
  border-radius: 0px 0px 40px 40px;
  /*padding: 20px;*/
  box-sizing: border-box;
  resize: vertical;
  font-size: 25px;
  padding:8px 15px;
  background: rgb(white);
  border: rgb(240,240,240) solid 3px;
}

.aboutPage{
  padding: 10%;
  padding-left: 30%;
  padding-right: 30% ;
}

.title {
  font-size: 80px;
  padding: 50px;
  font-weight: bold
}

.content {
   font-size: 40px;
   padding: 50px;
}

.picsty {
  padding: 15px;
  font-family: 'Barlow', sans-serif;
  font-family: 'Leckerli One', cursive;
  font-size: 50px;
  color: red;
  text-decoration: none;
}

.button {
  background: red;
  border-radius: 40px;
  padding: 30px;
  font-size: 40px;
  
}

.button:hover {
  cursor: pointer;
}
