.App {
  text-align: center;
  padding: 5px;
  
}

.header {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: white;
  border-bottom: 2px solid #f0f0f5;
}

.headerContainer{
  border-top: red dotted 7px;
  border-left: red dotted 7px;
  border-right: red dotted 7px;

}

.container{
  padding: 10px;
  border-bottom: red dotted 7px;
  border-left: red dotted 7px;
  border-right: red dotted 7px;
  background: #EDEDED;
}

.name {
  display: block;
  /*border: red solid 1px;*/
  padding: 30px;
  /*width: 60px;*/
 /* border-radius: 50%;*/
  /*background-color: red;*/
  /*color: black;*/
  grid-column: 1/3;
  font-family: 'Barlow', sans-serif;
  font-family: 'Leckerli One', cursive;
  font-size: 40px;
  color: red;
  /*height: 40px;*/
  text-decoration: none;
  /*border: blue solid;*/
}

.nav {
  /*border: blue solid;*/
  padding: 40px;
  /*background-color: pink;*/
  color: black;
  grid-column: 12/16;
  /*height: 40px;*/
  /*font-size: 40px;*/
}

.nav .navItem {

  padding: 25px;
 /* padding-bottom: 10px;*/
/*  border: blue solid 1px;*/
  /*font-family: 'Archivo Narrow', sans-serif;*/
  font-size: 25px;
  color: black;
  /*line-height: 100%;*/
  text-decoration: none;
  
}

.nav .navItem:hover{
  background-color: rgb(224,224,224);
  color: white;
  transition: .5s background-color;
  border-radius: 20px;
  padding: 15px;
}

.search{
  padding: 15px;
  grid-column: 3/10;
  padding-left: 40px
  /*border: #c5d5cb solid 10px;*/
}

.searchBox{ 
  /*border: 2px solid darkgrey;*/
  width: 100%;
  height: 70px;
  /*padding: 20px;*/
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 25px;
  padding:8px 15px;
  background: rgb(240,240,240);
  border: rgb(240,240,240) solid 0px;
  /*border:0px solid #dbdbdb;*/
}


.radioButtonContainer{
  grid-column: 10/11;
/*  border: 3px black solid;*/
  padding: 1px ;
}

.radioButtonForm{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
/*  border: 3px green solid;*/
  
}

.radio{
  background: white;
  padding: 15px;
  margin: 25px;
 /* border: 1px red solid;*/
  font-size: 20px!important;
}


/*.List{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 100px;
  grid-column-gap: 100px;
  /*grid-auto-rows: 150px;*/


/*IMAGES*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: justify;
  /*flex-direction: row | row-reverse | column | column-reverse;
  align-items: start;*/
  flex-grow: 1;
  justify-content: justify;
}

.item {
  background: white;
  padding: 1px;
  position: relative;
  width: 20%;
  margin: 20px;
  margin-bottom: 5px;
  height: auto;
  flex-grow: 1;
  justify-content: bottom;
  border-radius: 40px;
}

.itemBackground {
  background: white;
  border-radius: 40px;
}

.item:hover .overlay {
  bottom: 0;
  height: 100%;
}

.item:hover .image-overlay {
  height: 100%;
  opacity: .8;
  cursor: pointer;
  /*box-shadow: 5px 10px #888888;*/
}

.item:hover .thumb {
  width: 100%;
  height: auto;
}

.thumb {
  display: block;
  width: 100%;
  max-height: 1000;
  transition: .5s ease;
  /*border-radius: 40px;*/
}

.imageText{
  /*font-family: 'Barlow', sans-serif;*/
  background: white;
  border: white solid 0px;
  padding: 10px;
  font-size: 25px;
  margin: 20px;
  line-height: 150%;
  font-weight: bold;
  border-radius: 40px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: darkgrey;
  opacity: 1;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  border-radius: 40px;
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0s;
  background-color: black;
  border-radius: 40px;
}


.text {
  white-space: nowrap;
  color: grey;
  font-size: 25px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*.text a {
  color: #00c8c8;
  text-decoration: none;
} useful for having a link in the overlay */




.modalButton{
  display: box;
  /*border: 3px red solid;*/
  height: 100%;
  padding: 4em;
  padding-top: 12em;
  color:lightgrey;
}

.modalPic{
  border: 3px black solid;
  transform: scale(2,2);
  max-height: 1000px;
  width: 100%;
}

/*Image Details*/

.imageBackground{
  padding-top: 100px;
  padding-left: 35%;
  padding-right: 35%;
  padding-bottom: 200px;
  background: #EDEDED;;
}

.imageDetails{
  background: white;
  /*border: 5px purple solid;*/
  padding: 20px;
}

.detailImage{
  max-height: 1000px;
  width: 100%;
}

/*COMMENTS*/

.commentBox{
/*  border: 1px solid red;*/
  /*padding: 8px 15px;*/
  background: white;
}
.commentList{
/*  border: 1px solid orange;*/
  padding: 5px;
}

.comment{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
/*  border: 1px solid green;*/
  padding: 5px;
  width: 100%;
  height: 140px;
  background-color: white;
}
.commentAuthor{
/*  border: 1px solid blue;*/
  padding: 5px;
  grid-column: 1;
  grid-row: 1;
}

.commentContent{
/*  border: 1px dotted blue;*/
  font-size: 25px;
  padding: 5px;
  grid-column: 2/7;
  grid-row:1/3;
}

.commentTime{
/*  border: 1px solid blue;*/
  grid-column: 1;
  grid-row: 2;
}
.commentForm{
/*  border: 1px solid yellow;*/
  padding: 50px;
}

.nameForm{
  width: 100%;
  height: 70px;
  /*padding: 20px;*/
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 25px;
  padding:5px 15px;
  background: rgb(white);
  border: rgb(240,240,240) solid 3px;
}

.textForm{
  width: 100%;
  height: 300px;
  /*padding: 20px;*/
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 25px;
  padding:8px 15px;
  background: rgb(white);
  border: rgb(240,240,240) solid 3px;
}

.backToSearch {
  font-size: 40px;
  padding: 20px;
  padding-top: 70px;
  padding-left:100px;
  background: black;
  border-radius: 10px;
}

.aboutPage{
  padding: 10%;
  padding-left: 30%;
  padding-right: 30% ;
}

.title {
  font-size: 80px;
  padding: 50px;
  font-weight: bold
}

.content {
   font-size: 40px;
   padding: 50px;
}

.picsty {
  /*border: red solid 1px;*/
  padding: 15px;
  /*width: 60px;*/
 /* border-radius: 50%;*/
  /*background-color: red;*/
  /*color: black;*/
  font-family: 'Barlow', sans-serif;
  font-family: 'Leckerli One', cursive;
  font-size: 50px;
  color: red;
  /*height: 40px;*/
  text-decoration: none;
}

.button {
  background: red;
  border-radius: 40px;
  padding: 30px;
  font-size: 40px;
  
}

.button:hover {
  cursor: pointer;
}
